
  
  .container{
     background-color: #c6c7ce;
  
     color: rgb(17, 17, 20);
     padding: 3%;
     position: absolute;
     top: 20%;
     left: 20%;
     transform: translate(-50%, -50%);
  }
  
  
  .button1{
    width: 100%;
     background-color: rgb(95, 10, 141); /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
   
  }
  
 