{% extends 'pages/base2.html' %}


{% block content %}

    {% if user.is_authenticated %}
        <div style="position: relative; left: 80px; top: 60px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label> Nazwa pliku: </label>
                {{ form.title }}
                <br>
                <label> Dodaj plik: </label>
                {{ form.file }}
                <input type="submit" value="Submit">
            </form>
        </div>

    {% else %}
    <center><h2> niezalogowany </h2></center>
    {% endif %}

{% endblock %}