/*

SQUADRA

*/

/* kolory */

:root {
    --col1: #5F91DB;
    --col2: #7866DE;
    --col3: #52D9BE;
    --text: #676767;
    --text2: #1f1f1f;
}

/* fonty */

@font-face {
    font-family: 'TitilliumWeb';
    font-weight: 300;
    src: url(../font/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: 'TitilliumWeb';
    font-weight: 400;
    src: url(../font/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'TitilliumWeb';
    font-weight: 600;
    src: url(../font/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: 'TitilliumWeb';
    font-weight: 700;
    src: url(../font/TitilliumWeb-Bold.ttf);
}

/* ogolne */

* {
    box-sizing: border-box;
}

html, body, #container, #login {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    color: var(--text);
}

body, p, h1, h2, h3, h4, h5, h6, input, select, textarea, button {
    font-family: 'TitilliumWeb', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

p {
    margin: 0 0 25px;
}

p:last-child {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
    color: var(--text2);
}

h1 {
    font-weight: 700;
    font-size: 150%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 110%;
}

.title {
    margin-bottom: 25px;
}

b, strong {
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    color: var(--col1);
}

.abs-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* elementy formularza */

form {
    margin: 0;
}

input[type=text], input[type=email], input[type=tel], input[type=password], input[type=date], input[type=number], select, textarea, .select2-container--default .select2-selection--single {
    border: 0;
    background: #f5f5f5;
    border: 2px solid #f5f5f5;
    line-height: 26px;
    padding: 10px 30px;
    border-radius: 30px;
    outline: none !important;
    display: block;
    transition: .3s ease;
    color: var(--text2);
}

::-webkit-input-placeholder {
    color: var(--text);
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=date]:focus, input[type=number]:focus, select:focus, textarea:focus, .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-color: var(--col1);
}

.button, button, input[type=submit] {
    border: 0;
    box-shadow: none;
    outline: none !important;
    background: var(--col1);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    display: inline-block;
}

.button:hover, button:hover, input[type=submit]:hover {
    background: var(--col2);
}

.button i {
    margin-right: 10px;
}

.form-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-field label {
    margin-right: 15px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon i {
    color: var(--col1);
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 110%;
}

.input-with-icon input {
    padding-left: 70px;
}

.spread {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* select 2 */

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    text-align: left;
    height: auto;
    transition: initial;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    top: 12px;
    right: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--text) transparent transparent transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-color: transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.select2-dropdown {
    border: 2px solid var(--col1);
    margin-top: -2px;
    background: #f5f5f5;
}

.select2-search--dropdown {
    padding: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 2px solid transparent;
    padding: 5px 30px;
    outline: none;
}

.select2-results__option {
    padding: 10px 30px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: var(--col1);
}

/* logowanie */

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom right, var(--col3), var(--col1), var(--col2));
}

.login-form, .popup {
    background: #fff;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,.08);
    border: 3px solid var(--col1);
    position: relative;
}

.login-container .logo {
    justify-content: center;
    margin-bottom: 30px;
}

.login-container .logo h1 {
    font-size: 200%;
}

.login-container .logo img {
    height: 80px;
}

.login-form .input-with-icon {
    margin-bottom: 15px;
}

.forgotpass {
    font-size: 80%;
    display: inline-block;
    padding-bottom: 5px;
}

.login-register {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 80%;
}

.login-register a {
    color: var(--col3);
}

.login-register a:hover {
    color: #fff;
}

/* popup */

.popup-container {
    position: fixed;
    background: rgb(0 0 0 / .5);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transform: scale(0);
    transition: 0s transform .2s, .2s opacity ease 0s;
}

.popup-container.open {
    opacity: 1;
    transform: scale(1);
    transition: 0s transform, .3s opacity ease 0s;
}

.popup-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    transition: .3s ease;
}

.popup-close:hover {
    color: var(--col1);
}

/* uklad */

#container {
    display: flex;
    flex-wrap: wrap;
}

#sidebar {
    width: 100px;
    padding: 0 25px;
    box-shadow: 0 0 25px rgba(0,0,0,.05);
    z-index: 10;
}

#sidebar.open {
    width: 350px;
    padding: 0 40px;
}

#sidebar, #main {
    height: 100%;
    overflow-y: auto;
    position: relative;
}

#main {
    width: 100%;
    background: #f5f5f5;
}

#sidebar + #main {
    width: calc(100% - 100px);
    
}

#sidebar.open + #main {
    width: calc(100% - 350px);
}

#top {
    padding: 25px 40px;
    background: #fff;
    box-shadow: 0 0 30px rgb(0 0 0 / .04);
    transition: .3s ease;
    width: 100%;
}

.top-left, .top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    padding: 20px 35px;
    height: calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5px;
}

/* sidebar - naglowek */

.header, .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 25px 0;
}

.logo img {
    height: 50px;
}

.logo .name {
    margin-left: 15px;
}

.logo h1 {
    color: var(--col1);
    line-height: 1.1;
}

.logo .project-name {
    font-size: 75%;
}

.sidebar-toggle {
    font-size: 24px;
    cursor: pointer;
    color: var(--col1);
    transition: .3s ease;
}

.sidebar-toggle:hover {
    color: var(--col3);
}

/* sidebar - menu */

.menu {
    padding: 25px 0;
}

.menu a {
    display: block;
    padding: 10px 0;
    font-size: 110%;
    line-height: 30px;
    position: relative;
}

#sidebar:not(.open) .menu a {
    text-align: center;
}

.menu a i {
    text-align: center;
    line-height: inherit;
}

#sidebar.open .menu a i {
    margin-right: 15px;
    width: 25px;
}

.menu a.active {
    font-weight: 700;
    color: var(--col1);
}

.menu a:after {
    content: "";
    position: absolute;
    right: -25px;
    top: 5px;
    width: 3px;
    height: calc(100% - 10px);
    background: var(--col1);
    border-radius: 10px;
    transform: scaleY(0);
    transition: .3s ease;
}

#sidebar.open .menu a:after {
    right: -40px;
}

.menu a:hover:after, .menu a.active:after {
    transform: scaleY(1);
}

.menu a.active:after {
    width: 4px;
    transition: 0s;
}

/* top - sidebar toggle */

#top .sidebar-toggle {
    display: none;
    margin-right: 30px;
}

/* top - szukajka */

#top .search {
    height: 50px;
    position: relative;
}

#top .search input {
    width: 300px
}

/* top - user */

#top .user, #top .user * {
    line-height: 25px;
}

#top .user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#top .user-img {
    margin-right: 15px;
}

#top .user-img img {
    border-radius: 15px;
    width: 50px;
}

/* content - sidebar */

#content::-webkit-scrollbar {
    width: 10px;
    padding: 10px;
}

#content::-webkit-scrollbar-thumb {
    background: var(--col1);
    background: linear-gradient(to bottom, var(--col1), var(--col2)); 
    border-radius: 30px;
}

#content::-webkit-scrollbar-track {
    background: transparent;
}

/* widgety */

.widget {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
}

.widget-title {
    padding: 15px 30px;
}

/* rzedy */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
}

.row.centered {
    align-items: center;
}

.row-header {
    background: var(--col1);
    color: #fff;
    font-size: 110%;
}

.col {
    padding: 15px;
    width: 100%;
    position: relative;
}

.col_1 {
    width: 8.3333%;
}

.col_2 {
    width: 16.6666%;
}

.col_3 {
    width: 25%;
}

.col_4 {
    width: 33.3333%;
}

.col_5 {
    width: 41.6666%;
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: 58.3333%;
}

.col_8 {
    width: 66.6666%;
}

.col_9 {
    width: 75%;
}

.col_10 {
    width: 83.3333%;
}

.col_11 {
    width: 91.6666%;
}

/* tabelki */

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-spacing: 0;
    font-size: 100%;
}

thead {
    background: var(--col1);
    color: #fff;
    font-size: 110%;
}

th, td {
    padding: 15px;
    text-align: left;
    font-weight: 400;
}

th:first-child, td:first-child {
    padding-left: 30px;
}

th:last-child, td:last-child {
    padding-right: 30px;
}

/* projekty */

.project .project-name {
    color: var(--col1);
}

.project .project-name:hover {
    color: var(--col2);
}

.members {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.members > a, .members > .more {
    margin-right: -10px;
    position: relative;
    z-index: 10;
}

.members > a:last-child, .members > .more:last-child {
    margin-right: 0;
}

.members img, .members .more {
    width: 35px;
    height: 35px;
    line-height: 31px;
    border-radius: 100%;
    border: 2px solid #fff;
    background: var(--col1);
    color: #fff;
    text-align: center;
    display: block;
    font-weight: 600;
}

.actions > a {
    position: relative;
    z-index: 10;
}

.actions > a + a {
    margin-left: 5px;
}

.actions .edit {
    color: var(--col3);
}

.actions .copy {
    color: var(--col1);
}

.actions .delete {
    color: var(--col2);
}

.actions a:hover {
    color: var(--text2);
}

.project-edit {
    background: #ededed;
    margin: 0 -15px;
    padding: 15px 30px;
    width: calc(100% + 30px);
    display: none;
}

.member {
    display: flex;
    align-items: center;
}

.member-remove {
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease;
}

.member-remove:hover {
    color: var(--col1);
}

.member span {
    padding: 0 10px;
}

/* edycja projektu */

.project-edit td {
    padding: 0;
}

.project-edit td form {
    padding: 15px 30px;
    display: none;
}

.project-edit .members {
    margin: 0 -5px;
}

.project-edit .member {
    margin: 5px;
    background: #f5f5f5;
    border-radius: 30px;
    padding: 5px 20px;
}

.member select {
    padding: 0 10px;
    border: 0;
}

.project-edit .add-member {
    padding: 9px 20px;
    background: var(--col1);
    color: #fff;
    transition: .3s ease;
    cursor: pointer;
}

.project-edit .add-member i {
    padding-right: 10px;
}

.project-edit .add-member:hover {
    background: var(--col2);
}

.project:not(:first-child) td {
    border-top: 1px solid #f5f5f5;
}

/* edytor */

.django-ckeditor-widget {
    width: 100%;
}

.cke_chrome {
    width: 100% !important;
}

.form-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px -7.5px -15px;
}

.form-actions > * {
    margin: 0 7.5px 15px;
}

.form-actions > *:nth-child(2):not(:hover) {
    background: var(--col3);
}

/* Eksplorator plikow */
.getFile .getDict {
    text-transform: none !important;
}

/* Workflow */
.issue-details {
    top: 12;
}

.input-issue:invalid {
    border: 2px dashed red;
}

.issue-member {
    display: block;
    padding: 5px;
}