{% load static %}

{% include 'user/header.html' %}

<div id="login">
    <div class="login-container">        
        <div class="login-form">
            <div class="logo">
                <img src="{% static 'user/img/logo.png' %}" alt="SQUADRA">
                <h1>SQUADRA</h1>
            </div>
            <form action="" method="post">
                {% csrf_token %}

                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

                <div class="input-with-icon">
                    <i class="fas fa-user"></i>
                    <input type="text" name="username" value="{{username}}" placeholder="Nazwa użytkownika">
                </div>

                <div class="input-with-icon">
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" name="password" placeholder="Hasło">
                </div>
                <a href="#" class="forgotpass">Nie pamiętasz hasła?</a>
                <div>
                    <input type="submit" value="Zaloguj się">
                </div>
            </form>            
        </div>
        <div class="login-register">
            Nie masz konta? <a href="/register">Zarejestruj się</a>
        </div>
    </div>
    
</div>

{% include 'user/footer.html'  %}