{% load static %}

{% include 'user/header.html' %}

<div id="login">
    <div class="login-container">        
        <div class="login-form">
            <div class="logo">
                <img src="{% static 'user/img/logo.png' %}" alt="SQUADRA">
                <h1>SQUADRA</h1>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}

                {% if  field.html_name == "username" %}
                    <div class="input-with-icon">
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" placeholder="Nazwa użytkownika">
                    </div>
                {% endif %}
                {% endfor %}
                    <div class="input-with-icon">
                        <i class="fas fa-envelope-open-text"></i>
                        <input type="email" name="email" placeholder="Email">
                    </div>

                    <div class="input-with-icon">
                        <i class="fas fa-user"></i>
                        <input type="text" name="first_name" placeholder="Imię">
                    </div>

                    <div class="input-with-icon">
                        <i class="fas fa-user"></i>
                        <input type="text" name="last_name" placeholder="Nazwisko">
                    </div>

                    <div class="input-with-icon">
                        <i class="fas fa-unlock-alt"></i>
                        <input type="password" name="password1" placeholder="Hasło">
                    </div>

                    <div class="input-with-icon">
                        <i class="fas fa-unlock-alt"></i>
                        <input type="password" name="password2" placeholder="Powtórz hasło">
                    </div>
                
                <div>
                    <input type="submit" value="Zarejestruj się">
                </div>
            </form>            
        </div>
        <div class="login-register">
            Masz już konto? <a href="/login">Zaloguj się</a>
        </div>
    </div>
    
</div>

{% include 'user/footer.html'  %}