{% load static %}

{% include 'pages/base2.html'  %}
<link rel="stylesheet" type="text/css" href="{% static 'user/style_user.css' %}">

       
<div class="container">
   
    <center> <img src="{% static "user/images/image18.png" %} "></center>
            <div class="register1"><h2>Register</h2>  </div>
          
            <form action="" method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="field">
                        
                        {% if  field.html_name == "username" %} user: 
                        {% elif  field.html_name == "email" %} e-mail: 
                        {% elif  field.html_name == "first_name" %} imie: 
                        {% elif  field.html_name == "last_name" %} nazwisko: 
                        {% elif  field.html_name == "password1" %} hasło: 
                        {% elif  field.html_name == "password2" %} powtórz hasło: 
                        
                       
                        {% else %}
                        {{ field.html_name }}
                        {% endif %}
                        <label for="{{ field.id_for_label }}"  class="label"></label><br>
                                           {{ field }}
                       
                  
                {% endfor %}
            </div>
                <br><br>
                <input type="submit" value="Dołącz" class="button1">
            </form>
     
</div>

</body>
</html>