{% extends 'pages/base2.html' %}

{% block content %}

  <br><br>
    {% if user.is_authenticated %}

    <center>
      <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.text_app }}
      </form>
      <button id="otworzPlik" style="margin-left: 4%; display:block-inline;" class="w3-button w3-xlarge">Otwórz</button>
      <button onclick="saveFile()" style="margin-left: 4%; display:block-inline;" class="w3-button w3-xlarge">Zapisz</button>
    </center>

    <div id="myModal" class="modal">
        {% include "squadra_app/modal_body.html" %}
    </div>
    {% else %}
    <center><h2> niezalogowany </h2></center>
    {% endif %}
    {% block javascript %}
      <!-- Ten script pobiera framework jQuery ze strony, jest potrzebny aby przesłać plik na serwer -->
      <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
      </script>
     <script type="text/javascript">
          // Get the modal
          var modal = document.getElementById("myModal");

          // Get the button that opens the modal
          var btn = document.getElementById("otworzPlik");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close_modal")[0];

          //Get dictionary content
          function getDict(elem, direct){
            $('.modal').html('').load(
                  "{% url 'ajax_storage_content' %}?next_dict=" + elem.innerText + "&direct=" + direct
             );
          }

          //Get file content
          function getFile(elem){
            $.ajax({
              url: '/squadra_app/ajax_open_file',
              data: {
                'open_file_name': elem.innerText
              },
              dataType: 'json',
              success: function (data) {
                console.log(data.content)
                var x = document.getElementById("myModal")
                x.style.display = "none";
                for (var instance in CKEDITOR.instances)
                    CKEDITOR.instances[instance].updateElement();

                var temp = CKEDITOR.instances[instance].setData(data.content);
              }
            });
          }

          function saveFile() {
              // Funkcja JavaScript która pobiera tekst html z edytora tekstu i zapisuje go do zmiennej temp.
             for (var instance in CKEDITOR.instances)
                    CKEDITOR.instances[instance].updateElement();

             var temp = CKEDITOR.instances[instance].getData();

            /* Tutaj używamy jQuery, chyba każda funkcja tego frameworku zaczyna się od $.
               Odwołuje się do widoku ajax_html_text, i za pomocą GET przekazuje zmienna temp.
               Przekazuje go jako json, nie wiem czy to idealne rozwiązanie chyba nie.
               Jeśli serwer dostał jakiś tekst to widok zwróci JSONa o treści "true" w "is_taken",
               strona wyświetli alert.
               Ten alert oczywiście trzeba zmienić na jakiś ładny, zielony, dyskretny napis. */
            $.ajax({
              url: '/squadra_app/ajax_html_text',
              data: {
                'text': temp
              },
              dataType: 'json',
              success: function (data) {
                if (data.is_taken) {
                  alert("Udalo sie zapisac plik");
                }
              }
            });
          }

          function newFile(elem){
            $.ajax({
              url: '/squadra_app/ajax_open_file',
              data: {
                'open_file_name': elem.innerText
              },
              dataType: 'json',
              success: function (data) {
                console.log(data.content)
                var x = document.getElementById("myModal")
                x.style.display = "none";
                for (var instance in CKEDITOR.instances)
                    CKEDITOR.instances[instance].updateElement();

                var temp = CKEDITOR.instances[instance].setData(data.content);
              }
            });
          }

          btn.onclick = function() {
              modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
              modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }

     </script>
    {% endblock %}
{% endblock %}

