{% load static %}

{% include 'pages/base2.html'  %}
<link rel="stylesheet" type="text/css" href="{% static 'addProject/style1.css' %}">


<div class="container">
   
           
            <div class="register1"><h4>dodaj </h4> </div>
            <form action="" method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label><br>
                        {{ field }}
                    
                    </div>
                {% endfor %}
                <br><br>
                <input type="submit" value="dodaj" class="button1">
            </form>
   
    </div>


</body>
</html>